name: "[CI] Changesets"

on:
  push:
    branches:
      - main
  workflow_dispatch:

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  changesets:
    name: "[CI] Changesets"

    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    outputs:
      published: ${{ steps.changesets.outputs.published }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
      - name: Install bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: "1.3.8"
      - name: Install dependencies with bun
        run: bun install
      - name: Create Release Pull Request
        uses: changesets/action@v1
        id: changesets
        with:
          publish: false
          version: echo "version!!"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  ci-timetable-generator-v1-dotnet:
    needs:
      - changesets
    if: needs.changesets.outputs.published == 'true'
    runs-on: ubuntu-latest
    environment:
      name: ci-timetable-generator-v1-dotnet
    steps:
      - run: "echo hello world!"

  ci-timetable-generator-v1-npm:
    needs:
      - changesets
    if: needs.changesets.outputs.published == 'true'
    runs-on: ubuntu-latest
    environment:
      name: ci-timetable-generator-v1-npm
    steps:
      - run: "echo hello world!"
