name: "[CI] Changesets"

on:
  push:
    branches:
      - main
  workflow_dispatch:

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  changesets:
    name: "[CI] Changesets"

    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    outputs:
      hasChangesets: ${{ steps.changesets.outputs.hasChangesets }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
      - name: Install just
        uses: extractions/setup-just@v3
      - name: Install bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: "1.3.8"
      - name: Install dependencies with bun
        run: bun install
      - name: Create Release Pull Request
        uses: changesets/action@v1
        id: changesets
        with:
          publish: false
          version: just version
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  ci-timetable-generator-v1-dotnet:
    name: "[Publish] TimetableGenerator v1 - NuGet"

    needs:
      - changesets
    if: needs.changesets.outputs.hasChangesets == 'false'

    runs-on: ubuntu-latest

    environment:
      name: ci-timetable-generator-v1-dotnet

    defaults:
      run:
        working-directory: apis/timetable-generator-v1/integrations/dotnet/Ladesa.Messages.TimetableGenerator.V1

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "9.0.x"

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Pack
        run: dotnet pack --configuration Release --no-build --output ./nupkg

      - name: Push to NuGet
        run: dotnet nuget push ./nupkg/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate

  ci-timetable-generator-v1-npm:
    needs:
      - changesets
    if: needs.changesets.outputs.hasChangesets == 'false'
    runs-on: ubuntu-latest
    environment:
      name: ci-timetable-generator-v1-npm
    steps:
      - run: "echo hello world!"
